* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 100%;
	margin: auto;
}

/* header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.postimg.cc/YjcJg24M/aa.jpg); */
	/* height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
} */



.welcome-text {
	position: relative;
	width: 600px;
	height: 100px;
	margin: 20px 30%;
	text-align: center;
}

.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}

.welcome-text h1 span {
	color: #1f4b42;
}

.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

.welcome-text a:hover {
	background: #fff;
	color: #333;
}

.dash_content {
	align-items: center;
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px;
	color: whitesmoke;
	cursor: pointer;
	border-bottom: 1px solid seashell;
	width: 70%;
	height: 20%;
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.Content-box {
	width: 600px;
	height: 330px;
	display: block;
	align-items: center;
	position: relative;
	margin-left: 30%;
	background: rgba(0, 0, 0, 0.3);
	padding-top: 50px;
	overflow: hidden;
	/* creating the form with width, height,etc*/
}

.dash_content p {
	margin-top: auto;
	margin-bottom: auto;
}

.dash_content:hover {
	border: solid;
	border-color: royalblue;
	border-width: 1px;
	border-radius: 10px;
}

/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}

	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}

	

	.nav-area {
		float: none;
		margin-top: 0;
	}

	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}

	.nav-area {
		text-align: center;
	}

	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}

	.welcome-text h1 {
		font-size: 30px;
	}
}