<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/About.css' %}">
    {% comment %} <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">    {% endcomment %}
    <title>About US</title>
</head>

<body style="background: url({% static 'image\login_bg2.jpg' %}) no-repeat center center/cover;
margin:0%;  " >
{% include 'navbar.html' %}


{% comment %} <br><br> {% endcomment %}

<div class="we-are-block">

    <div id="about-us-section">
  
      <div class="about-us-image">
  
        <img src="../static/image/about1.jpg" width="808" height="458" alt="Lobby Image">
  
      </div>
  
      <div class="about-us-info">
        <br>
        <h2>For student ,By student</h2>
  
        <p>We're students too, and we get it. Tuotor's point is all about simplifying your educational journey. No more hunting for notes or waiting for handouts. With us, you have instant access to study materials, and you can collaborate with fellow students seamlessly. We're here to make your academic life easier, greener, and more connected. Join us and redefine the way you learn. Welcome to tutor's point, where students empower students.</p>
  
        {% comment %} <a href="#" title="About Us Button">ABOUT US</a> {% endcomment %}
  
      </div>
  
    </div>
  
    <div id="history-section">
  
      <div class="history-image">
  
        <img src="../static/image/about2.jpg" width="951" height="471" alt="Building Pic">
  
      </div>
  
      <div class="history-info">
  
        <h2>Our mission:</h2>
  
        <p>Our mission is to create a seamless and user-friendly platform that bridges the gap between students and teachers, allowing them to share study materials effortlessly. We strive to reduce the administrative burden on educators and provide students with a centralized hub for accessing educational resources. Through innovation and dedication, we aim to transform traditional education into an online, automated, and manageable experience.</p>
  
        <a href="#" title="History Button">Contact us</a>
  
      </div>
  
    </div>
  
  </div>
    
</body>

</html>


