<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/About.css' %}">
    {% comment %} <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">    {% endcomment %}
    <title>About US</title>
</head>

<body style="background: url({% static 'image\login_bg2.jpg' %}) no-repeat center center/cover;
margin:0%;  " >
{% include 'navbar.html' %}
    <div class="About" >
            <h1 > For Students, by Students </h1>
            <br><br>
        {% comment %} <p id="About" style="margin-left: 2rem; color=:white  ; font-size:21px "> {% endcomment %}
           <h3 style="text-align:center; color:rgb(85, 149, 246) ;" > Our Vision:</h3>
           <p id="About" style="margin-left: 2rem; color=:white ; font-size:16px ; margin-top:0 ; padding-top:0; ">
At Tutor's Corner, our vision is to revolutionize the way students and teachers interact with educational content. We believe that access to high-quality study materials should be convenient, efficient, and eco-friendly. By harnessing the power of technology, we aim to empower both educators and learners, making education more accessible and adaptable to the modern world. 
           </P>


<h3 style="text-align:center; color:rgb(85, 149, 246) ;" > Our Mission:</h3>
<p id="About" style="margin-left: 2rem; color=:white  ; font-size:16px; margin-top:0 ; padding-top:0; ">
Our mission is to create a seamless and user-friendly platform that bridges the gap between students and teachers, allowing them to share study materials effortlessly. We strive to reduce the administrative burden on educators and provide students with a centralized hub for accessing educational resources. Through innovation and dedication, we aim to transform traditional education into an online, automated, and manageable experience.
</P>
<h3 style="text-align:center; color:rgb(85, 149, 246) ;">Key Features:</h3>

<p id="About" style="margin-left: 2rem; color=:white  ; font-size:16px; margin-top:0 ; padding-top:0; ">
<b style="color:grey ; "   >Effortless Material Sharing: </b>With Tutor's Corner, teachers can easily upload and share study materials such as notes, assignments, and textbooks, making them instantly accessible to students. <br>

<b style="color:grey ; "  >Time Savings: </b>We understand the value of time. By eliminating the need for manual distribution of materials, we help educators save precious hours that can be better spent on teaching.<br>

<b style="color:grey ; "   >Accessibility: </b>Our platform ensures that study materials are available 24/7, overcoming the limitations of physical resources and helping students learn at their own pace.<br>

<b style="color:grey ; "   > Environmentally Friendly: </b>By reducing the need for printed materials, we contribute to a greener planet. [Your Platform Name] promotes eco-conscious learning practices.
</P>
<h3 style="text-align:center; color:rgb(85, 149, 246) ;"> Join Us in Shaping the Future of Education:</h3>
<p id="About" style="margin-left: 2rem; color=:white  ; font-size:16px; margin-top:0 ; padding-top:0; ">
At Tutor's Corner, we invite students, teachers, and educational institutions to join us on this exciting journey towards a more efficient, accessible, and sustainable education system. Together, we can make a significant impact on the way knowledge is shared and acquired in the digital age.
</P>
<p id="About" style="margin-left: 2rem; color=:white  ; font-size:16px; margin-top:0 ; padding-top:0; ">
                Cloud-based E-learning platform  is a web-based study material sharing and management system which helps students and teachers to share their study material online effectively. <br>It reduces the wasting of time in manually distributing notes and books to each individual. <br> It greatly overcomes the lack of availability and converts the manual old-school paperwork to a fully automated and managed online system .<br>
            
            </p>            
    </div>
    
</body>

</html>


