<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/About.css' %}">
    {% comment %} <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">    {% endcomment %}
    <title>About US</title>
</head>

<body style="background: url({% static 'image\login_bg2.jpg' %}) no-repeat center center/cover;
margin:0%;  " >
{% include 'navbar.html' %}
    <div class="About" >
       
        <!-- <div id="main"> -->
            <h1> For Students, by Students </h1>
        <!-- </div> --> 
        <div class="main1">
            <p id="About">
                You Can't Buy happiness <br>
                But You can Buy books <br>
                And That's The Same Thing <br>
                <br>
                We are doing the same. <br>
                We provide you, <br> <span>HAPPINESS</span> 
            </p>            
        </div>
    </div>
    
</body>

</html>