{% extends 'base.html' %}
{% block content %}

    <div class="welcome-text" style="margin-top: 100px ;">
        <h1>
            We are the <span>Tutors</span></h1>
            {% if user.is_authenticated %} 
            <h3 style="color: green; ">Hello {{user.username}} :) </h3>
            {% endif %}
    </div>
    <div class="Content-box" style="overflow:scroll;">
        {% for pa in para %}
        <div class="dash_content" onclick="location.href='{% url 'disData' id=pa.id %}'">
            <p>{{pa.title}}<br>
            Subject: {{pa.subject}}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}